/* .input-model {
    display: none;
} */

#input-model-id {
    display: none;
}

.image-picker{
    /* height: 25%; */
    width: 21%;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 50%;
}

.image-picker>label{
    height: 100%;
    width: 100%;
    object-fit: fill;
    
    /* border: ;
    border-radius: 50%; */
}

.main-chart{

}
.glassy{
    transition:  300ms ease-out
}
.glassy:hover{

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}