body{
    margin: 0%;
    padding: 0%;
}

#black-violet-theme{
    background: rgb(2,0,36);
    background: linear-gradient(171deg, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 55%, rgba(147,4,184,1) 100%);
}
#green-yellow-theme{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#pink-yellow-theme{
    background-image: linear-gradient(to right top, #a959c8, #fb5398, #ff7c5f, #fcb838, #c1ed5c);
}

#grey-white-theme{
    background-image: linear-gradient(to right top, #3d3b3e, #686062, #948986, #beb6ac, #e2e6d8);
}

#green-yellow-theme{
    background-image: linear-gradient(to right top, #3fd72c, #00c89b, #00afde, #008de5, #6765b6);
}

#blue-pink-theme{
    background-image: linear-gradient(to bottom, #1caf8b, #00a8b8, #009ad8, #5583d9, #a365b6);
}

#blue-green-theme{
    background-image: linear-gradient(to bottom, #095eed, #008bff, #00a9ea, #00c0bb, #34d08f);
}

#pink-yellow-theme{
    background-image: linear-gradient(to bottom, #c83191, #f74c6c, #ff8148, #f6b936, #d1ed5a);
}

#black-yellow-theme{
    background-image: linear-gradient(to bottom, #000000, #562d2a, #a36034, #d6a82f, #dcff47);
}

#green-grey-theme{
    background-image: linear-gradient(to bottom, #07ca02, #00ba8f, #009fc5, #007db6, #64607f);
}

.iphone-link-content{
    overflow: auto;
    margin-bottom: 20px;
    height: 300px;
    /* border: indigo 2px solid; */
}


/* .profile-img{
    margin-left: auto;
    margin-right: auto;
}
.profile-img>img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height: 25%;
    width: 25%;
    object-fit: fill;
    border-radius: 50%;
} */

.links-profile-img{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    margin-bottom: 5%;
    /* margin-top: 15%; */
    /* border: 2px red solid; */
}
.links-profile-img>img{
    object-fit: fill;
    border-radius: 50%;
    height: 100%;
    width: 100%;

}

.testtest{
    min-height: 100vh;
    width: 100vw;
    padding: 10% 0px;
    
}

/* .links_array{
    width: 100%;
} */

.links_array>a{
    width: 100%;
    text-decoration: none;
    color: white
    
}